
body{
    background: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar, .navbar.navbar-api {
    background-color: #ee8d02;
    color: #FFFFFF;
    margin-bottom: 0;
}
.head{
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*搜索效果*/
.form-group.is-focused .form-control {
    background-image: linear-gradient(#fba603, #fba603), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-focused label, .form-group.is-focused label.control-label{
    color:#ee8d02;
}
.navbar .navbar-form{
    margin-top: 12px;
    margin-bottom: 12px;
}
/*三角*/
.arrow {
    top: -11px;
    left: 50%;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #ffffff;

}

/*下拉菜单样式*/
.navbar .dropdown-menu li>a:focus, .navbar .dropdown-menu li>a:hover, .navbar.navbar-default .dropdown-menu li>a:focus, .navbar.navbar-default .dropdown-menu li>a:hover{
    background-color: #ebfaff;
    color: #004253;
}

/*二级菜单*/
.nav-jenny{
    color: #333;
    border-bottom: 2px solid #fcb95a;
}
.navbar .navbar-nav>li>a{
    padding-top:0px;
    padding-bottom: 0px;
    line-height: 52px;
}
.navbar .navbar-brand{
    height: 50px;
    line-height: normal;
}
.navbar, .navbar.navbar-default{
    background-color: #f8f8f8;
    color: #333333;
}
.nav-dropdown img{
    width: 80px;
    height: 80px;
    margin-right: 8px;
    background-color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #eaeaea;
}
.nav-dropdown{
    position: fixed;
    bottom: 0;
    overflow-y: auto;
    top: 102px;
    left: 0;
    padding: 5px 0;
    margin: 2px 0 0;
    width: 270px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    z-index: 1000;
    display: none;


}

/*主内容*/
.main{
    padding: 20px;
    padding-left: 0;
    top: 102px;
    position: relative;
}
.main-one{
    padding: 15px;
    top: 52px;
    position: relative;
}
.main .col-md-3.col-sm-6 .aplly-block{
    display: block;
    padding: 20px;
    /*border: 2px dashed #00b3ee;*/
    margin: 0;
    text-align: center;
    background-color: #FFFFFF;
    cursor: pointer;
    color:#333;
    height: 189px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.main .col-md-3.col-sm-6 .aplly-block .apply-logo{
    text-align: center;
    color: #fd8901;
}
.main .col-md-3.col-sm-6 .aplly-block .detail{
    word-break: break-all;
    white-space:normal;
}

.main .col-md-3.col-sm-6:hover .aplly-block{
    /*background-color:#f6fcfe;*/
    text-decoration: none;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,.14),0 3px 1px -5px rgba(0,0,0,.2),0 1px 10px 0 rgba(0,0,0,.12);
}
.main .col-md-3.col-sm-6 .aplly-block>.last-apply{
    margin-top: 30px;
    color: #eaeaea;
}
.main .col-md-3.col-sm-6:hover .aplly-block>.last-apply{
    color: #fd8901;
}

/*bootstrap的col-md-*的所有更改*/

.row,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    padding-left: 7.5px;
    padding-right: 7.5px;
}


/*api-detail*/
.main-left{
    background-color: transparent;
    position: fixed;
    top: 102px;
    bottom: 0;
    overflow: auto;
    width: 275px;

}
.content{
    padding: 0 10px 20px 20px;
}

.nav>li>ul.nav>li>a{
    padding-left: 35px;
}
.content>.navbar-static-side>.nav {
    background-color: #ffffff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .14), 0 3px 1px -5px rgba(0, 0, 0, .2), 0 1px 10px 0 rgba(0, 0, 0, .12);
    margin-top: 15px;
}
.nav>li>a{
    color: #555;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
    color: #ff5607;
}

.menu-second{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    z-index: 1;

}
.menu-title{
    width: 30px;
    height: 30px;
    text-align: center;
    color: #004254;
    cursor: pointer;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .14), 0 3px 1px -5px rgba(0, 0, 0, .2), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
.menu-title .fa{
    margin-top: 8px;
}

/*页面右侧内容*/
.main-right{
    margin-left: 285px;
}
.title-api{
    background: #9D9D9D;
    padding: 7px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}





/*bootstrap下拉菜单*/
.panel-heading{
    cursor: pointer;
}



/*add-apply页面*/
.add-data{
    border-bottom: 1px solid #F1F1F1;
}
.btn.btn-fab.btn-fab-mini{
    line-height: 40px;
}


/*编辑页面adit-main页面*/
.panel-body>.form-group{
    padding-bottom: 0px;
    margin: 0;
}
.panel-body>.form-group>.form-control{
    margin-bottom:0;
}